In [1]:
import pandas as pd
from pandas import*
import numpy  as np
dataloc ='Marian.csv'
data = pd.read_csv(dataloc)
index = list(data)
supply = data['supply']
data = data.drop('supply', axis=1)
data['min'] = data.min(axis =1)
data['supply'] = supply
data = data.sort_values(by = ['supply', 'min'])
data = data.drop('min', axis = 1)
data = pd.DataFrame.as_matrix(data)
index

['ship', '1', '2', '3', '4', '5', '6', '7', 'supply']

In [2]:
def check(data,j):
    isavailable = True
    if(data[-1,j] <= 0):
        isavailable = False
    return isavailable

In [3]:
np.size(data,1)

9

In [4]:
data

array([['3', nan, nan, 0.9, 1.1, 1.2, 1.3, 1.4, 2.0],
       ['2', nan, nan, 1.05, 1.1, 1.2, 1.3, 1.4, 2.0],
       ['1', nan, nan, nan, 1.1, 1.2, 1.3, 1.4, 3.0],
       ['limit', 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, nan]], dtype=object)

In [5]:
def move(data, row,answer):
    for j in range(np.size(data,1)-2):
        if (np.isnan(data[row,j+1])==False):
            print(data[row,j+1])
            count = 0
            for i in range(int(data[row,-1])):
                if (check(data, j+1-i)==False):
                    count+=1
            print(count)
            if (count == 0):
                break

    print(j,i)
    data[-1,j+1-1:j+2] -1                    
    for i in range(int(data[row,-1])): 
        data[-1,j+1-i] = data[-1,j+1-i] -1
        answer[row,j+1-i]=True
        answer[-1,j+1-i]+=1
    return(data,answer)

In [6]:
answer = np.empty_like(data)
answer[:,0],answer[0,:],answer[:,-1] = data[:,0],data[0,:],data[:,-1]
answer[-1,1:]= 0
answer[-1,0] ='Assigned'
for j in range(np.size(data,0)-1):
    data, answer = move(data,j, answer)
data,answer

0.9
0
2 1
1.05
0
2 1
1.1
0
3 2

(array([['3', nan, nan, 0.9, 1.1, 1.2, 1.3, 1.4, 2.0],
        ['2', nan, nan, 1.05, 1.1, 1.2, 1.3, 1.4, 2.0],
        ['1', nan, nan, nan, 1.1, 1.2, 1.3, 1.4, 3.0],
        ['limit', 3.0, 0.0, 0.0, 2.0, 3.0, 3.0, 3.0, nan]], dtype=object),
 array([['3', nan, True, True, 1.1, 1.2, 1.3, 1.4, 2.0],
        ['2', None, True, True, None, None, None, None, 2.0],
        ['1', None, True, True, True, None, None, None, 3.0],
        ['Assigned', 0, 3, 3, 1, 0, 0, 0, 0]], dtype=object))

In [ ]:
data = pd.DataFrame(data = data, columns = index)
answer = pd.DataFrame(data = answer, columns = index)
data= data.sort_values(by = 'ship')
answer = answer.sort_values(by = 'ship')
pd.concat([data,answer], axis = 1)

In [ ]:
answer.to_csv('Solution.csv')

In [11]:
answer

    ship    1    2     3    4    5    6    7 supply
2      1  NaN  NaN   NaN  1.1  1.2  1.3  1.4      3
1      2  NaN  NaN  1.05  1.1  1.2  1.3  1.4      2
0      3  NaN  NaN   0.9  1.1  1.2  1.3  1.4      2
3  limit    3    0     0    2    3    3    3    NaN

In [18]:
answer[:,0],answer[0,:],answer[:,-1] = data[:,0],data[0,:],data[:,-1]
answer

TypeError: unhashable type: 'slice'

In [19]:
data

    ship    1    2     3    4    5    6    7 supply
2      1  NaN  NaN   NaN  1.1  1.2  1.3  1.4      3
1      2  NaN  NaN  1.05  1.1  1.2  1.3  1.4      2
0      3  NaN  NaN   0.9  1.1  1.2  1.3  1.4      2
3  limit    3    0     0    2    3    3    3    NaN